.announcements{
    background: $charCoal
}


.topRow,
.bottomRow{
    display: flex;
    justify-content: space-between;
    .left{
        flex-basis: 50%;
    }
    .right{
        flex-basis: 50%;
    }
}

.topRow{
    align-items: flex-start;
    position: relative;
    top: -20px;
    .right{
        padding: 5% 10%;
    }
    .left{
        img{
            box-shadow: 20px 20px $marigold;
        }
    }
}

.bottomRow{
    align-items: flex-end;
    .left{
        padding: 5% 10%;
        text-align: right;
        p{
            text-align: left;
        }
    }
    .right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
            box-shadow: -20px 20px $marigold;
        }
    }
}


@media(max-width: 1200px){
    .topRow .left,
    .bottomRow .right{
        flex-basis: 40%;
    }
    .topRow .right,
    .bottomRow .left{
        flex-basis: 60%;
    }
}

@media(max-width: 900px){
    .announcements{
        padding-top: 50px;
    }
    .topRow{
        top: 0;
    }

    .topRow .right,
    .bottomRow .left{
        padding: 1% 5%;
    }
    .topRow{
        flex-direction: column;
        align-items: center;
        .left{
            padding: 0;
            img{
                box-shadow: none;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .bottomRow{
        flex-direction: column-reverse;
        align-items: center;
        .right{
            padding: 0;
            img{
                box-shadow: none;
            }
        }
        .left{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}