.blog *{
    // border: 1px solid white;
}


main.blog{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    article{
        flex-basis: calc(75% - 12.5%);
        margin-top: -10%;

    }
    aside{
        flex-basis: 25%;
    }
}

.blog .blogPost{
    margin-right: 12.5%;
    padding-right: 0;
    >div{
        border-right: 5px solid $mudGreen;
        border-bottom: 5px solid $mudGreen;
    }
    &>img{
        box-shadow: 30px 30px $mudGreen;
        width: calc( 100% - 30px);
    }
    h3{
        padding: 25px 0;
        color: $iceBlue;
    }
}

aside.blog{
    background-color: $mudGreen;
    padding-bottom: 25px;
    img{
        width: 100%;
        margin-top: -10%;
    }
    p{
        margin: 0;
    }
    ul{
        margin: 0;
    }
    margin-top: 10%;
    box-shadow: -30px 0 $mudGreen;
    li{
        margin: 2px;
        display: flex;
        p{
            padding-left: 20px;
        }
    }
    li:before{
        content: "• ";
        color: $marigold;
        // position: absolute;
        left: -15px;
        top: 2px;
    }
    h6{
        margin-top: 5px;
        color: $iceBlue;
    }
}
