main.blog{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    article{
        flex-basis: calc(75% - 12.5%);
        margin-top: -10%;

    }
    aside{
        flex-basis: 25%;
    }
}

.blog .blogPost{
    margin-right: 12.5%;
    padding-right: 0;
    >div{
        border-right: 5px solid $mudGreen;
        border-bottom: 5px solid $mudGreen;
    }
    &>img{
        box-shadow: 30px 30px $mudGreen;
        width: calc( 100% - 30px);
    }
    h3{
        padding: 25px 0;
        color: $iceBlue;
    }
}

aside.blog{
    background-color: $mudGreen;
    padding-bottom: 25px;
    margin-top: 10%;
    box-shadow: -30px 0 $mudGreen;
    img{
        width: 100%;
        margin-top: -10%;
    }
    a{
        margin: 0;
    }
    ul{
        margin: 0;
    }
    li{
        margin: 2px;
        display: flex;
        a{
            padding-left: 20px;
        }
    }
    li:before{
        content: "• ";
        color: $marigold;
        left: -15px;
        top: 2px;
    }
    h6{
        margin-top: 5px;
        color: $iceBlue;
    }
}


@media(max-width: 900px){
    main.blog{
        flex-direction: column;
        article{
            flex-basis: calc(75% - 12.5%);
            margin-top: -10%;
            padding-top: 50px;

        }
    }
    aside.blog{
        // width: 100%;
        padding: 0 5%;
        margin: 5%;
        background: $camoGreen;
        box-shadow: none;
        img{
            display: none;
            position: absolute;
        }
    }
    .blog .blogPost{
        margin-right: 0;
        >div{
            padding: 20px;
            margin: 0% 5%;
            border: 5px solid $mudGreen;
            p{
                padding: 5px;
            }
        }
        &>img{
            box-shadow: 0 0;
            width: 90%;
            margin: 0 auto;
        }
    } 
    section.comments{
        padding: 50px 0;
    }
}