.comments{
    padding: 100px 0;
}

.comment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .left{
        flex-basis: 15%;
    }
    .right{
        flex-basis: 85%;
        margin-left: 5%;
        p{
            margin-top: 0;
        }
        p:first-child{
            color: $marigold;
        }
    }
}