.comments{
    padding: 100px 0;
}

.comment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .left{
        flex-basis: 20%;
    }
    .right{
        flex-basis: 80%;
        margin-left: 5%;
        p{
            margin-top: 0;
        }
        p:first-child{
            color: $marigold;
        }
    }
}
// *{
//     border: 1px solid white;
// }
@media(max-width: 700px){
    .comments .left{
        flex-basis: 20%;
    }
    .comments .right{
        flex-basis: 80%;
    }
}

@media(max-width: 550px){
    .comments .left{
        flex-basis: 30%;
    }
    .comments .right{
        flex-basis: 70%;
    }
}