.formTop{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    [type="email"],
    [type="text"]{
        width: calc(50% - 2.5%);
        border: none;
        border-bottom: 2px solid $marigold
        }
    }
    [type="email"]{
        margin-left: 5%;
    }

form [placeholder]{
        color: $iceBlue;
        line-height: 32px;
        letter-spacing: 2px;
        font-size: 20px;
        padding: 10px 10px 10px 20px;
        font-weight: 300;
    }

form{
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input,
textarea{
    background: $camoGreen;

}

textarea{
    border: 2px solid $marigold;
    width: 100%;
    margin: 20px 0;
}

[type="submit"]{
    width: 100%;
    color: $iceBlue;
    border: none;
}

.formTop [type="email"], 
.formTop [type="text"],
textarea{
    &:active{
        border: 1px solid red;
    }
    &:focus{
        border: 1px solid red;
    }
}

@media (max-width: 1200px){
    .formTop{
        flex-direction: column;
        align-items: flex-start;
        [type="email"]{
            margin-left: 0;
            width: 100%;
        }
        [type="text"]{
        width: 100%;
        }
    }
}