.bcgContainer{
    background: url(../assets/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vw;
    min-width: 100%;
}

.freeTrial{
    padding-bottom: 100px;
    h3{
        margin-top: 25px;
    }
}
.freeTrial>div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

@media(max-width: 900px){
    .freeTrial p{
        text-align: center;
    }
}