.gallery{
    padding: 100px 0;
    background-color: $charCoal;
    &>div{
        display: flex;
        justify-content: space-between;
        .imageContainer{
            padding: 0 2%;
        }
    }
}