@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

body {
  font-size: 1.6rem; }

img {
  max-width: 100%;
  display: block; }

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  padding-left: 10%;
  padding-right: 10%; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Dokdo", cursive;
  color: #ffc600;
  margin: 0; }

h1 {
  font-size: 115px; }

h2 {
  font-size: 105px;
  letter-spacing: 10.9px; }

h3 {
  font-size: 45px;
  letter-spacing: 4.9px; }

h4 {
  font-size: 41.5px;
  letter-spacing: 4.3px; }

h5 {
  font-size: 40px; }

h6 {
  font-family: "Dokdo", cursive;
  color: #fafffe;
  margin: 0;
  font-size: 2rem; }

p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #fafffe;
  line-height: 28px;
  letter-spacing: 1px; }

a {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #fafffe; }

ul {
  list-style: none;
  padding: 0; }

main {
  background-color: #1e140e; }

textarea {
  resize: none; }

.greenBox {
  background-color: #555f02;
  font-family: "Dokdo", cursive;
  font-size: 1.25rem;
  padding: 10px 15px;
  text-transform: capitalize;
  line-height: 25.5px; }

header {
  background-repeat: no-repeat;
  background-size: cover; }

.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .headerTop h4 {
    margin: 25px 0; }

.headerTop .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .headerTop .nav li {
    margin: 0 30px; }
    .headerTop .nav li:last-child {
      margin-right: 0; }
  .headerTop .nav a {
    text-transform: uppercase;
    letter-spacing: 1px; }

.headerTop .yellow {
  color: #ffc600; }

.burger {
  display: none;
  position: absolute; }

header.index {
  background-image: url(../assets/home-image-1.jpg);
  height: 80vh;
  min-height: 600px; }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  top: 15%; }
  .hero .left {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%; }
  .hero .right {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%; }
  .hero h1 {
    text-align: left;
    margin: 0; }
  .hero p {
    font-size: 50px;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0 2%; }

header.blog,
header.contact {
  height: 80vh;
  min-height: 600px; }
  header.blog > div,
  header.contact > div {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header.blog > div h2,
    header.contact > div h2 {
      margin-bottom: 15%; }

header.blog {
  background-image: url(../assets/blog-image-1.jpg); }

header.contact {
  background-image: url(../assets/contact-image-1.jpg); }

.newAdventures {
  padding: 200px 0 100px 0; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%; }
    .container .left p {
      padding-right: 5%; }
  .container .right {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
    .container .right img {
      width: 100%;
      -webkit-box-shadow: -20px 20px #555f02;
      box-shadow: -20px 20px #555f02; }

.gallery {
  padding: 100px 0;
  background-color: #262725; }
  .gallery > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .gallery > div .imageContainer {
      padding: 0 2%; }

.extraLinks {
  padding: 100px; }

.extraLinks p {
  margin-left: calc(50px + 2%); }

.extraLinks > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .extraLinks > div .link {
    width: 50%;
    padding: 10px; }

.extraLinks .link > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .extraLinks .link > div h5 {
    margin: 0 2%; }

.iconContainer {
  width: 50px;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #555f02;
  border-radius: 25px; }
  .iconContainer i {
    color: white; }

.announcements {
  background: #262725; }

.topRow,
.bottomRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .topRow .left,
  .bottomRow .left {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .topRow .right,
  .bottomRow .right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }

.topRow {
  position: relative;
  top: -3vw; }
  .topRow .right {
    padding: 5% 10%; }
  .topRow .left img {
    -webkit-box-shadow: 20px 20px #ffc600;
    box-shadow: 20px 20px #ffc600; }

.bottomRow {
  position: relative;
  bottom: -3vw; }
  .bottomRow .left {
    padding: 5% 10%;
    text-align: right; }
  .bottomRow .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .bottomRow .right img {
      -webkit-box-shadow: -20px 20px #ffc600;
      box-shadow: -20px 20px #ffc600; }

.freeTrial {
  background: url(../assets/banner-image.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.freeTrial {
  padding: 100px 0; }
  .freeTrial h3 {
    margin-top: 35%; }

.freeTrial > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.copyright {
  background-color: #262725; }
  .copyright div {
    text-align: center;
    padding: 5px 0; }
    .copyright div p {
      padding: 0;
      margin: 0; }

main.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  main.blog article {
    -ms-flex-preferred-size: calc(75% - 12.5%);
    flex-basis: calc(75% - 12.5%);
    margin-top: -10%; }
  main.blog aside {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }

.blog .blogPost {
  margin-right: 12.5%;
  padding-right: 0; }
  .blog .blogPost > div {
    border-right: 5px solid #555f02;
    border-bottom: 5px solid #555f02; }
  .blog .blogPost > img {
    -webkit-box-shadow: 30px 30px #555f02;
    box-shadow: 30px 30px #555f02;
    width: calc( 100% - 30px); }
  .blog .blogPost h3 {
    padding: 25px 0;
    color: #fafffe; }

aside.blog {
  background-color: #555f02;
  padding-bottom: 25px;
  margin-top: 10%;
  -webkit-box-shadow: -30px 0 #555f02;
  box-shadow: -30px 0 #555f02; }
  aside.blog img {
    width: 100%;
    margin-top: -10%; }
  aside.blog p {
    margin: 0; }
  aside.blog ul {
    margin: 0; }
  aside.blog li {
    margin: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    aside.blog li p {
      padding-left: 20px; }
  aside.blog li:before {
    content: "• ";
    color: #ffc600;
    left: -15px;
    top: 2px; }
  aside.blog h6 {
    margin-top: 5px;
    color: #fafffe; }

.comments {
  padding: 100px 0; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px; }
  .comment .left {
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%; }
  .comment .right {
    -ms-flex-preferred-size: 85%;
    flex-basis: 85%;
    margin-left: 5%; }
    .comment .right p {
      margin-top: 0; }
    .comment .right p:first-child {
      color: #ffc600; }

.formTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 25px; }
  .formTop [type="email"] {
    margin-left: 5%;
    width: calc(50% - 5%);
    border: none;
    border-bottom: 2px solid #ffc600; }
  .formTop [type="text"] {
    width: 50%;
    border: none;
    border-bottom: 2px solid #ffc600; }

form [placeholder] {
  color: #fafffe;
  line-height: 32px;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 10px 10px 10px 20px; }

form {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

input,
textarea {
  background: #1e140e; }

textarea {
  border: 2px solid #ffc600;
  width: 100%;
  margin: 20px 0; }

[type="submit"] {
  width: 100%;
  color: #fafffe;
  border: none; }
